extends layout

block content
    h1= title
    .container-fluid
        .row
            - const results = [
              {
                apartmentType: 'Studio',
                location: 'Downtown',
                rent: 1000
              },
              {
                apartmentType: '1-Bedroom',
                location: 'Suburb',
                rent: 1200
              },
              {
                apartmentType: '2-Bedroom',
                location: 'City Center',
                rent: 1500
              }
            ]
            each apartment, index in results
                .col-sm-2
                    .result-item(onclick=`buy(${index})`)
                        p(onclick=`buy(${index})`)= `Apartment Type: ${apartment.apartmentType}`
                        p(onclick=`buy(${index})`)= `Location: ${apartment.location}`
                        p(onclick=`buy(${index})`)= `Rent: $${apartment.rent}`
                        button(type="button" class="btn btn-primary") Press Me

    script.
        function buy(index){
            alert(`You purchased Apartment: ${results[index].apartmentType}`);
        }
