extends layout

block content
    h1= title
    if (toShow == null)
        h2 No instance to delete
    else
        - let apartmentid = toShow._id
        - let apartment_name = toShow.apartment_name
        - let location = toShow.location
        - let rent = toShow.rent
        - let actionid = `/resource/apartments/${apartmentid}`
        script.
            let actionid = "#{actionid}"
        div
            div.row
                div.apartmentAttr.mr-3 Apartment ID is:
                div.apartmentAttr #{apartmentid}
            div.row
                div.apartmentAttr.mr-3 Apartment name is:
                div.apartmentAttr #{apartment_name}
            div.row
                div.apartmentAttr.mr-3 Location is:
                div.apartmentAttr #{location}
            div.row
                div.apartmentAttr.mr-3 Apartment rent is:
                div.apartmentAttr #{rent}
        button(class="btn btn-danger m-2", onclick="deleteOnid()") Delete
        button(class="btn btn-secondary m-2", onclick="cancel()") Cancel

    script.
        function cancel() {
             // Go back to the home page for the apartment collection
            window.location.href='/apartments'
        }

     script.
        function deleteOnid() {
             console.log("starting delete");
                
             // Delete request
             fetch(actionid, {
                method: 'DELETE'
            })
            .then((resp) => {
                return resp.json();
            })
            .then((body) => {
                alert("Delete succeeded");
                 window.location.href='/apartments';
            })
            .catch((error) => {
                alert("Delete failed " + error);
            });
        }
