extends layout
block content
    h1= title
    - let apartmentid = toShow._id
    - let apartment_name = toShow.apartment_name
    - let location = toShow.location
    - let rent = toShow.rent
    div
    div.row
    div(class='apartmentAttr mr-3') Apartment ID is:
    div #{apartmentid}
    div.row
    div(class='apartmentAttr mr-3') Apartment Name is:
    div #{apartment_name}
    div.row
    div(class='apartmentAttr mr-3') Apartment location is:
    div #{location}
    div.row
    div(class='apartmentAttr mr-3') Apartment Rent is:
    div #{rent}