extends layout

block content
  h1= title
  - const results =  [{apartmentType: 'Studio', location: 'Downtown', rent: 1000}, {apartmentType: '1-Bedroom', location: 'Suburb', rent: 1200}, {apartmentType: '2-Bedroom', location: 'City Center', rent: 1500}];

  .container-fluid
    .row
      each apartment, index in results
        .col-sm-2(onclick=`buy(${index})`)
          p= `Apartment Type: ${apartment.apartmentType}`
          p= `Location: ${apartment.location}`
          p= `Rent: $${apartment.rent}`

  script.
    function buy(index) {
      alert(`You purchased item ${index}`);
    }
